OpenAI
dotenv
trafilatura
black
isort
google-genai
nltk
spacy
textstat
transformers
sentence-transformers
torch
sentencepiece
protobuf
setuptools
wheel
fastAPI
uvicorn[standard]
pydantic
lxml[html-clean]